* {
    padding: 0;
    margin: 0;
}
footer {
    height: 73px;
    display: flex;
    background-color: rgb(42, 66, 44);
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.footer-logo img {
    width: 80px;
    height: 40px;
}
.footer-p {
    font-size: 1rem;
    color: #fff;
}