* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', sans-serif;
}
/* HEADER */
header {
    width: 100%;
    height: 11vh;
    display: flex;
    background-color: rgb(42, 66, 44);
}
.header-logo {
    display: flex;
    justify-content: start;
    width: 50%;
    height: 100%;
    padding: 5px;
}
.header-logo-img {
    height: 100%;
    padding-left: 20px;
}
.header-logout {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-right: 20px;
}
.header-logout img {
    width: 40px;
    height: 40px;
}
/* FIM HEADER */

body{
    height: 80vh;
}

/* SECTION */
.container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    
    background-color: #f4f4f4;
}
/* FIM SECTION */






/* FOOTER */
footer {
    height: 9vh;
    display: flex;
    background-color: rgb(42, 66, 44);
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer-p {
    font-size: 1rem;
    color: #fff;
}
/* FIM FOOTER */

/* LOGIN */

.login-gif {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50%;
    height: 100%;
     /* Torna o gif responsivo */
}
.login-gif img{
    height: 100%;
}


.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    width: 50%; 
    height: 100%;
    
}

.login-form-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}
.login-form-container label {
    align-self: self-start;
    padding-left: 10px;
}

.login-form-container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%; /* Ocupa toda a largura do contêiner pai */
    max-width: 400px; /* Define uma largura máxima para o formulário */
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 400px;
    
}


.login-form-container input {
    width: calc(100% - 20px); /* Ocupa toda a largura, subtraindo o padding */
    padding: 10px;
    margin-bottom: 15px;
}

.login-form-button {
    width: 100px;
    background-color: #338C4E;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form-link {
    align-self: self-start;
    padding-left: 10px;
    font-size: 12px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #007BFF;
}

/* FIM LOGIN*/



/* ADM HOME */
.adm-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color:  #f4f4f4;
}
.adm-container h1{
    font-size: 50px;
    color: #338C4E;
}
.adm-container h5, a {
    color: #338C4E;
    font-size: 20px;
    text-decoration: solid;
    text-decoration-color: black;/* Adapte os valores conforme necessário */
}
.adm-card-container{
    width: 50%;
    height: 80%;
    
}

.adm-card-container-up{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
}
.adm-card-container-down{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
    
}

.adm-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2px;
}
.adm-card a{
    font-size: 15px;
}
.adm-card img{
    height: 60%;
    padding: 5px;
}

    
/* FIM ADM HOME */


/* EDITAR_CANDIDATO HOME */

.editar-candidato-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.editar-candidato-container ol{
    display: flex;
    justify-content: start;
    width: 100%;
    height: 10%;
    
    
}
.editar-candidato-container li{
    
    margin-left: 30px;
    
}
.editar-candidato-container label{
    
    margin-left: 30px;
    align-self: self-start;
    
}
.editar-candidato-container form{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 650px;
    width: 450px;
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}
.editar-candidato-background{
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 205px;
    height: 195px;
    margin-bottom: 15px;
}

.editar-candidato-container input {
    width: 350px; /* Ocupa toda a largura, subtraindo o padding */
    padding: 5px;
     font-size: 16px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 8px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     margin-top: 5px;
     margin-bottom: 15px;
}

.editar-candidato-container button {
    width: 100px;
    background-color: #338C4E;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* FIM EDITAR_CANDIDATO HOME */

/* CADASTRO_ELEITOR */

.cadastrar-eleitor-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;  
}
.cadastrar-eleitor-container h2{
    font-size: 35px;
    margin-bottom: 20px;
}
.cadastrar-eleitor-container ol{
    display: flex;
    justify-content: start;
    width: 100%;
    height: 10%;
}
.cadastrar-eleitor-container li{
    
    margin-left: 30px;
    
}
.cadastrar-eleitor-container label{
    
    margin-left: 30px;
    align-self: self-start;
    
}
.cadastrar-eleitor-container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 650px;
    width: 450px;
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}

.cadastrar-eleitor-container input {
    width: 350px; /* Ocupa toda a largura, subtraindo o padding */
    padding: 5px;
     font-size: 16px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 8px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     margin-top: 5px;
     margin-bottom: 15px;
}

.cadastrar-eleitor-container button {
    width: 100px;
    background-color: #338C4E;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/* FIM CADASTRO_ELEITOR */

/* EDITAR_ELEITOR */

.editar-eleitor-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;  
}
.editar-eleitor-container h2{
    font-size: 35px;
    margin-bottom: 20px;
}
.editar-eleitor-container ol{
    display: flex;
    justify-content: start;
    width: 100%;
    height: 10%;
   
}
.editar-eleitor-container li{
    
    margin-left: 30px;
    
}
.editar-eleitor-container label{
    
    margin-left: 30px;
    align-self: self-start;
    
}


.editar-eleitor-container input {
    width: 350px; /* Ocupa toda a largura, subtraindo o padding */
    padding: 5px;
     font-size: 16px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 8px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     margin-top: 5px;
     margin-bottom: 15px;
}

.editar-eleitor-container button {
    width: 100px;
    background-color: #338C4E;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.editar-eleitor-container table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

.editar-eleitor-container th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.editar-eleitor-container th {
    background-color: #f2f2f2;
}

.editar-eleitor-container tr:hover {
    background-color: #f5f5f5;
    
}

.contain-table{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 90%;
    overflow: scroll;
}

/* FIM EDITAR_ELEITOR */

/* EDITAR CANDIDATO TODOS */

.editar-candidato-todos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;  
}
.editar-candidato-todos-container h2{
    font-size: 35px;
    margin-bottom: 20px;
}
.editar-candidato-todos-container ol{
    display: flex;
    justify-content: start;
    width: 100%;
    height: 10%;
   
}
.editar-candidato-todos-container li{
    
    margin-left: 30px;
    
}
.editar-candidato-todos-container label{
    
    margin-left: 30px;
    align-self: self-start;
    
}
.editar-candidato-todos-container img{
    border-radius: 50%;
    
}


.editar-candidato-todos-container input {
    width: 350px; /* Ocupa toda a largura, subtraindo o padding */
    padding: 5px;
     font-size: 16px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 8px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     margin-top: 5px;
     margin-bottom: 15px;
}

.editar-candidato-todos-container button {
    width: 100px;
    background-color: #338C4E;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
 
.editar-candidato-todos-container table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

.editar-candidato-todos-container th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.editar-candidato-todos-container th {
    background-color: #f2f2f2;
}

.editar-candidato-todos-container tr:hover {
    background-color: #f5f5f5;
    
}

.contain-table{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 90%;
    overflow: scroll;
}

/* FIM EDITAR_CANDIDATO_TODOS */

/* NOVA ELEIÇÃO */

.nova-eleicao-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;  
    
}
.nova-eleicao-container h2{
    font-size: 35px;
    margin-bottom: 20px;
}
.nova-eleicao-container ol{
    display: flex;
    justify-content: start;
    width: 100%;
    height: 10%;
}
.nova-eleicao-container li{
    
    margin-left: 30px;
    
}

.nova-eleicao-container img{
    border-radius: 50%;
    
}



.nova-eleicao-container input, select{
     /* Ocupa toda a largura, subtraindo o padding */
     padding: 5px;
     font-size: 16px;
     border-width: 1px;
     width: 300px;
     height: 50px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 8px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     margin-top: 5px;
     margin-bottom: 15px;
}

.nova-eleicao-container button {
    width: 100px;
    background-color: #338C4E;
    color: #fff;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.nova-eleicao-container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 90%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}
.nova-eleicao-container table{
    
    border-collapse: collapse;
    margin-top: 20px;
    
}

.nova-eleicao-container th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.nova-eleicao-container th {
    background-color: #f2f2f2;
}

.nova-eleicao-container tr:hover {
    background-color: #f5f5f5;
    
}

.contain-table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90%;
    overflow: scroll;
}

/* FIM NOVA ELEIÇÃO */

/* NOVA ELEIÇÃO EDITAR */

.nova-eleicao-editar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;  
}
.nova-eleicao-editar-container h2{
    font-size: 35px;
    margin-bottom: 20px;
}
.nova-eleicao-editar-container ol{
    display: flex;
    justify-content: start;
    width: 100%;
    height: 10%;
   
}
.nova-eleicao-editar-container li{
    
    margin-left: 30px;
    
}
.nova-eleicao-editar-container label{
    
    margin-left: 30px;
    align-self: self-start;
    
}
.nova-eleicao-editar-container img{
    border-radius: 50%;
    
}


.nova-eleicao-editar-container input {
    width: 350px; /* Ocupa toda a largura, subtraindo o padding */
    padding: 5px;
     font-size: 16px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 8px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     margin-top: 5px;
     margin-bottom: 15px;
}

.nova-eleicao-editar-container button {
    width: 100px;
    background-color: #338C4E;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
 
.nova-eleicao-editar-container table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

.nova-eleicao-editar-container th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.nova-eleicao-editar-container th {
    background-color: #f2f2f2;
}

.nova-eleicao-editar-container tr:hover {
    background-color: #f5f5f5;
    
}

.contain-table{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 90%;
    overflow: scroll;
}

/* FIM NOVA ELEIÇÃO EDITAR */