* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* HEADER */
header {
    width: 100%;
    height: 11vh;
    display: flex;
    background-color: rgb(42, 66, 44);
}
.header-logo {
    display: flex;
    justify-content: start;
    width: 50%;
    height: 100%;
    padding: 5px;
}
.header-logo-img {
    height: 100%;
    padding-left: 20px;
}
.header-logout {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-right: 20px;
}
.header-logout img {
    width: 40px;
    height: 40px;
}
/* FIM HEADER */

body{
    height: 80vh;
}

/* SECTION */
.container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    
    background-color: #f4f4f4;
}
/* FIM SECTION */






/* FOOTER */
footer {
    height: 9vh;
    display: flex;
    background-color: rgb(42, 66, 44);
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.footer-logo img {
    width: 80px;
    
}
.footer-p {
    font-size: 1rem;
    color: #fff;
}
/* FIM FOOTER */

/* LOGIN */

.login-gif {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50%;
    height: 100%;
     /* Torna o gif responsivo */
}
.login-gif img{
    height: 100%;
}


.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    width: 50%; 
    height: 100%;
    
}

.login-form-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.login-form-container form {
    width: 100%; /* Ocupa toda a largura do contêiner pai */
    max-width: 400px; /* Define uma largura máxima para o formulário */
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
    
}


.login-form-container input {
    width: calc(100% - 20px); /* Ocupa toda a largura, subtraindo o padding */
    padding: 10px;
    margin-bottom: 15px;
}

.login-form-button {
    width: 100px;
    background-color: #338C4E;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
}

/* FIM LOGIN*/



/* ADM HOME */
.adm-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: red;
}
.adm-container h1{
    font-size: 50px;
}
.adm-container h5, a {
    color: #ff0000;
    font-size: 20px;
    text-decoration: solid;
    text-decoration-color: black;/* Adapte os valores conforme necessário */
}
.adm-card-container{
    width: 50%;
    height: 80%;
    
}

.adm-card-container-up{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: pink;
}
.adm-card-container-down{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: green;
}

.adm-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: inset 10px transparent;
    box-sizing: border-box;
}

    
/* FIM ADM HOME */