{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/adm_home.css' %}" />
    <title>Admin Home</title>
</head>

<body>

    <header>
        <a href="#">
            <img class="pic" src="{% static 'img/logo_dpdf.png' %}" alt="Logo DPDF" />
        </a>
    </header>
    <h1>ADMIN HOME</h1>
    <div class="card-container">
        <div class="card">
            <img src="" alt="Imagem não encontrada"/>
            <h5>VOTANTE</h5>
            <a href="./cadastro_eleitor.html">Adicionar Eleitor</a>
            <a href="">Editar/Excluir Eleitor</a>
            <a href="">Ver Eleitor</a>
        </div>
    </div>

    <div class="card-container">
        
        <div class="card">
            <img src="" alt="Imagem não encontrada" />
            <div class="">
                <h5>CANDIDATO</h5>
                <a href="{% url 'cadastro_candidato' %}">Adicionar Candidato</a>
                <a href="">Editar/Excluir Candidato</a>
                <a href="">Ver Candidato</a>
            </div>
        </div>

        <div class="card">
            <img src="" alt="Imagem não encontrada" />
            <div class="">
                <h5>ELEIÇÃO</h5>
                <a href="./cadastro_cargo.html">Gerar Eleição</a>
                <a href="">Modificar Eleição</a>
                <a href="">Completar Eleição</a>
            </div>
        </div>

    </div>

    <div class="card-container">

        <div class="card">
            <img src="" alt="Imagem não encontrada" />
            <div class="">
                <h5>VOTAÇÃO</h5>
                <a href="">Sala de Votação</a>
            </div>
        </div>

        <div class="card">
            <img src="" alt="Imagem não encontrada" />
            <div class="">
                <h5>RESULTADO & RELATÓRIO</h5>
                <a href="">Gerar Resultado</a>
                <a href="">Ver Resultado</a>
                <a href="">Gerar Relatório</a>
                <a href="">Ver Relatório</a>
            </div>
        </div>

        <div class="card">
            <img src="" alt="Imagem não encontrada" />
            <div class="">
                <h5>RECLAMAÇÃO</h5>
                <a href="">Ver Reclamação</a>
                <a href="">Responder Reclamação</a>
            </div>
        </div>

    </div>

    <a href="{% url 'logout' %}">Logout</a>

</body>

</html>
