{% extends '_base.html' %}
{% load static %}

{% block content %}
    <div class="adm-container">
        <h1>ADMIN</h1>
        <div class="adm-card-container">
            <div class="adm-card-container-up">
                <div class="adm-card">  
                    <h5>ELEITOR</h5>
                    <img src="../static/img/eleitor.png" alt="imagem_eleitor">
                    <div >
                        <a href="{% url 'cadastro_eleitor' %}">Cadastrar |</a>
                        <a href="{% url 'editar_eleitores_todos' %}">Editar</a>
                    </div>
                    
                </div>
    
                <div class="adm-card">
                    <h5>CANDIDATO</h5>
                    <img src="../static/img/candidato.png" alt="imagem_eleitor">
                    <div>
                        <a href="{% url 'cadastro_candidato' %}">Cadastrar |</a>
                        <a href="{% url 'editar_candidatos_todos' %}">Editar</a>
                    </div>
                    
                </div>
    
                <div class="adm-card">
                    
                    <h5>ELEIÇÃO</h5>
                    <img src="../static/img/add_eleicao.png" alt="imagem_eleitor">
                    <div>
                        <a href="{% url 'nova_eleicao' %}">Nova Eleição |</a>
                        <a href="">Editar</a>
                    </div>
                    
                </div>
            </div>
            <div class="adm-card-container-down">
                <div  class="adm-card">                
                    <h5>VOTAÇÃO</h5>
                    <img src="../static/img/votacao_urna.png" alt="imagem_eleitor">
                    <a href="">Acompanhar Votação</a>
                </div>
    
                <div class="adm-card">
                    <h5>RELATÓRIOS</h5>
                    <img src="../static/img/relatorio.png" alt="imagem_eleitor">
                    <div>
                        <a href="">Gerar Resultado |</a>
                        <a href="">Ver Resultado</a>
                    </div>
                    
                </div>
            </div>
           

            
        </div>
    </div>
</section>
{% endblock %}