{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class="cadastrar-eleitor-container">
    
        <ol>
            <li><a href="{% url 'adm_home' %}">Home ></a></li>      
            <li><a href="">Cadastrar Eeitor</a> </li>
        </ol> 

        
        <form action="#" method="POST">
            <h2>Cadastro do Eleitor</h2>
            {% csrf_token %}
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required>

            <label for="matricula">Matricula:</label>
            <input type="text" id="matricula" name="matricula" required>

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" required>
            
            <label for="password-1">Senha:</label>
            <input type="password" id="password-1" name="password-1" required>

            <label for="password-2">Repita sua Senha:</label>
            <input type="password" id="password-2" name="password-2" required>
            <div> 
                <button type="submit">Cadastrar Eleitor</Em></button>
                <!-- <a>Importar CSV</Em></a>
            </div> -->
            
            {%if msg %}
                <p>{{ msg }}</p>
            {% endif %}

        </form>
    
</div>
{% endblock %}