<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cadastro_eleitor.css">
    <title>Cadastro Eleitor</title>
</head>
<header>

</header>
<body>
    <div class="card">
        <h2>Cadastro do Eleitor</h2>
        <form action="#" method="post">
            <label for="CPF">CPF:</label>
            <input type="text" id="CPF" name="CPF" required>

            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            
            
            <label for="Senha">Senha:</label>
            <input type="password" id="Senha" name="Senha" required>

            <button type="submit">Cadastrar Eleitor</Em></button>
        </form>
        </div>
</body>
</html>