{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cadastro_candidato.css' %}">
    <title>Cadastro Candidato</title>
</head>
<header>

</header>
<body>
    <div class="card">
        <h1>Cadastro de Candidato</h1>
        {% if msg %}
            <p>{{ msg }}</p>
        {% endif %} 
        <form method="POST" enctype="multipart/form-data">
        <!-- <form action="{% url 'cadastro_candidato' %}" method="POST"> -->
            {% csrf_token %}
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="matricula">Matricula:</label>
            <input type="text" id="matricula" name="matricula" required>

            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" required>

            <label for="foto_perfil">Foto de Perfil:</label>
            <input type="file" id="foto_perfil" name="foto_perfil" accept="image/*" required>

            <button type="submit">Cadastrar Candidato</button>
        </form>
    </div>
</body>
</html>