{% extends '_base.html' %}
{% load static %}

{% block content %}
<section>

    <ol class="caminho">
        <li><a href="{% url 'adm_home' %}">Home</a></li>
        <li>></li>
        <li><a href="{% url 'editar_candidatos_todos' %}">Editar Candidato</a></li>
        <li>></li>
        <li> {{ candidato.nome }} </li>
    </ol>   

    <form action="{% url 'editar_candidato' candidato_id=candidato.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <img name="foto_perfil" id="foto_perfil" src="/media/{{ candidato.foto_perfil }}" accept="image/*" alt="foto de perfil">

        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="{{ candidato.nome }}" required>

        <label for="matricula">Matricula:</label>
        <input type="text" id="matricula" name="matricula" value="{{ candidato.matricula }}" required>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" value="{{ candidato.cpf }}" required>

        <label for="foto_perfil">Foto de Perfil:</label>
        <input type="file" id="new_foto_perfil" name="new_foto_perfil" accept="image/*">

        <button type="submit">Editar Candidato</button>
    </form>
 
</section>
{% endblock %}
