{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <a href="{% url 'logout' %}">Logout</a>
    <h2>Pagina do Eleitor, <h1>{{ user.name }}</h1></h2>
    <p>Matricula: {{ user.matricula }}</p>
    <p>Email: {{ user.email }}</p>
    <p>CPF: {{ user.cpf }}</p>
    <p>Eleicoes disponiveis</p>
    <ul>
        <li><a href="#">Comite</a></li>
        <li><a href="#">Defensor Publico</a></li>
    </ul>
    <a href="#">Editar meus dados</a>
</body>
</html>