{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>
        Defensoria Votação
    </title>
</head>
<body>
    <header>
        
    </header>
    <body>
        <h1>E-Votos Login</h1>
        <div>
            <form action="#" method="POST">
                {% csrf_token %}
                <label for="login">Email:</label>
                <input type="text" id="email" name="email" required>
        
                <label for="senha">Senha:</label>
                <input type="password" id="password" name="password" required>
        
                <button type="submit">Entrar</button>
            </form>
            <a href="{% url 'cadastro_eleitor' %}">Cadastro de Eleitor</a>

            <a href="{% url 'recuperar_senha' %}">Recuperar Senha</a>
        </div>
    </body>
</body>
</html>