{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class="nova-eleicao-container">

    <ol>
        <li><a href="{% url 'adm_home' %}">Home ></a></li>
        
        <li><a href="">Cadastrar Eleição</a> </li>
    </ol>

        <form method="POST" action="{% url 'nova_eleicao' %}" >
            <h2>Cadastro de Eleição</h2>
            {% csrf_token %}
            <label for="nome">Nome da eleição:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="tipo_de_eleicao">Tipo de Eleição:</label>
            <select id="tipo_de_eleicao" name="tipo_de_eleicao" required>
                <option disabled selected>Selecione uma opção</option>
                <option value="comite">Comitê</option>
                <option value="defensor_publico">Defensor Público</option>
            </select>

            <label for="data_de_inicio">Data de Inicio:</label>
            <input class="nova-eleicao-container-date" type="datetime-local" id="data_de_inicio" name="data_de_inicio" required>

            <label  for="data_de_fim">Data de Fim:</label>
            <input type="datetime-local" id="data_de_fim" name="data_de_fim" required>

            <label for="candidatos">Opcões de Candidatos para participar das Eleições:</label>
            
            <div class="contain-table">
            {% if candidatos %}
            <table >
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Matrícula</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Selecionar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cand in candidatos %}
                        <tr>                
                            <td><img src="/media/{{ cand.foto_perfil }}" width="50" height="50"></td>
                            <td>{{ cand.matricula }}</td>
                            <td>{{ cand.nome }}</td>
                            <td>{{ cand.cpf }}</td>
                            <td>
                                <input style="width: auto; height: auto;" type="checkbox" id="candidato{{ cand.id }}" name="candidatos" value="{{ cand.id }}">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            {% else %}
                <p>Não existe candidatos cadastrados</p>
            {% endif %}
            <button type="submit">Criar Eleição</button>
        </form>
   
</div>
{% endblock %}