{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>
        Defensoria Votação
    </title>
</head>
<body>
    <header>
        
    </header>
    <body>
        <h1>Recuperar Senha</h1>
        {% if msg %}
            <p>console: {{ msg }}</p>
        {% endif %}
        <div>
            <form method="POST">
                {% csrf_token %}
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
        
                <button type="submit">Solicitar</button>
            </form>
        </div>
    </body>
</body>
</html>